:root {
    --navy-blue: #2F4C56;
    --feh-light-blue: #00C3E5;
    --feh-gold: #F1D99F;
    --delete-dark-red: #721717;
    --delete-red: #A02D2D;
    --cell-size: clamp(120px, 8vh, 200px);
}

@font-face {
    font-family: "Inter";
    src: url("./inter.ttf");
}

* {
    font-family: Inter;
    scrollbar-color: var(--feh-gold) var(--navy-blue);
}

html {
    background-image: url("./bg.webp");
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.frame {
    padding: 10px 6px;
    display: grid;
    border-radius: 10px;
    background: linear-gradient(to right, #648B90 0%, #2F4C56 9%, #75553C 19%, #C5A481 36%, #F1D99F 41%, #F8F1DE 49%, #F1D99F 55%, #C5A481 62%, #75553C 81%, #2F4C56 91%, #648B90);
}

.barracks-frame {
    height: 80vh;
    overflow-y: auto;
}

nav {
    margin-bottom: 1rem;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        label {
            display: block;
            background-color: #ccc;
            padding: 8px 1rem;
            cursor: pointer;
            font-weight: 600;

            &[for="search"] {
                border-top-left-radius: 10px;
            }

            &[for="inheritables"] {
                border-top-right-radius: 10px;
            }
        }

        input {
            display: none;

            &:checked + label {
                color: var(--feh-gold);
                background: linear-gradient(to top, var(--navy-blue) 3%, transparent);
            }

            &:not(:checked) + label {
                background: linear-gradient(to top, rgba(0,0,0,0.4) 3%, transparent);
            }
        }
    }
}

.content {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #85A3A799;
    padding: 20px;
}

body {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    text-align: center;
    font-size: 4rem;
    color: var(--feh-gold);
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: clamp(1rem, 10vw, 3rem);
    height: 80vh;
}

.searchbox {
    display: flex;
    align-items: center;
}

.search-field {
    flex: 2;
    border: none;
    font-size: 30px;
    border-bottom: 4px solid var(--feh-gold);
    color: var(--feh-gold);
    background-color: transparent;
    outline: none;
}

.hero-container {
    border: none;
    padding: 4px;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

    .hero-frame {
        position: absolute;
        z-index: 1;
        inset: 0;
        height: calc(var(--cell-size) + 10px);
        width: calc(var(--cell-size) + 10px);
    }

    &:focus, &:hover {
        .hero-frame {
            filter: brightness(120%);
        }
    }

    .portrait {
        height: var(--cell-size);
        width: var(--cell-size);
    }
}

#barracks {
    display: grid;
    column-gap: 2vw;
    row-gap: clamp(1rem, 3vw, 2.5rem);
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: auto var(--cell-size);
}

#barracks-heading {
    grid-area: 1 / 1 / 1 / 5;
}

.search-frame {
    height: 80vh;
    overflow-y: auto;
}

#search-content {
    display: grid;
    grid-template-columns: repeat(7, var(--cell-size));
    grid-template-rows: auto var(--cell-size);
    row-gap: calc(var(--cell-size) / 5);
    column-gap: 2vw;

    &.hide {
        display: none;
    }
}

.input-container {
    grid-area: 1 / 1 / 1 / 8;
    margin-bottom: 1rem;
}

#load-more {
    grid-column-start: 1;
    grid-column-end: 8;
    outline: 1px solid transparent;
    border-radius: 10px;
    border: none;

    &:hover, &:focus {
        outline: 1px solid var(--navy-blue);
    }
}

.cta {
    background-color: var(--feh-gold);
    color: var(--navy-blue);
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

@media screen and (min-width: 2000px) {
    #search-content {
        grid-template-columns: repeat(8, var(--cell-size));
    }

    .input-container {
        grid-area: 1 / 1 / 1 / 9;
    }

    #load-more {
        grid-column-start: 1;
        grid-column-end: 9;
    }
}

#search-query {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: var(--feh-gold);
    color: var(--feh-gold);
    font-size: 2rem;
    caret-color: var(--feh-gold);
    border-bottom: 2px solid white;

    &:focus {
        border-bottom: 2px solid var(--feh-gold);
    }
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--feh-gold);
    background-color: var(--navy-blue);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

#inheritables-content.hide {
    display: none;
}

#inheritable-skills {
    max-height: 80vh;
    padding: 0;
    border: none;
    background-color: transparent;

    &::backdrop {
        background-color: black;
        opacity: 0.4;
    }
}

.skills-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    overflow: auto;
}

.skill-filters {
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}

.skill-filter {
    display: none;

    &#weapon:checked + .filter-weapon {
        color: red;
    }

    &#assist:checked + .filter-assist {
        color: red;
    }
}

.delete-button {
    padding: 0.5rem;
    border-radius: 50%;
    z-index: 1;
    border: 0;
    outline: 1px solid transparent;
    position: absolute;
    bottom: 0;
    background: radial-gradient(var(--delete-dark-red) 30%, var(--delete-red));
    right: 0;
    height: 1rem;

    &:focus, &:hover {
        outline: 1px solid var(--delete-red);
    }

    & img {
        height: 100%;
    }
}

.favorite-button {
    z-index: 1;
    border: 0;
    outline: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;

    &:hover {
        filter: brightness(500%);
    }
}

.icons-container {
    height: calc(var(--cell-size) + 10px);
    width: calc(var(--cell-size) + 10px);
    position: absolute;
    z-index: 1;
    inset: 0;
}
