:root {
    --navy-blue: #2F4C56;
    --feh-light-blue: #00C3E5;
    --feh-gold: #F1D99F;
    --delete-red: #721717;
}

@font-face {
    font-family: "Inter";
    src: url("./inter.ttf");
}

* {
    font-family: Inter;
    scrollbar-color: var(--feh-gold) var(--navy-blue);
}

html {
    background-image: url("./bg.webp");
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.frame {
    padding: 10px 6px;
    display: grid;
    border-radius: 10px;
    background: linear-gradient(to right, #648B90 0%, #2F4C56 9%, #75553C 19%, #C5A481 36%, #F1D99F 41%, #F8F1DE 49%, #F1D99F 55%, #C5A481 62%, #75553C 81%, #2F4C56 91%, #648B90);
}

.barracks-frame {
    height: 90vh;
    overflow-y: auto;
}

.heading {
    background-color: red;
}

nav {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        label {
            display: block;
            background-color: #ccc;
            padding: 8px 1rem;
            cursor: pointer;

            &[for="search"] {
                border-top-left-radius: 10px;
            }

            &[for="inheritables"] {
                border-top-right-radius: 10px;
            }
        }

        input {
            display: none;

            &:checked + label {
                color: var(--feh-gold);
                background: linear-gradient(to top, var(--navy-blue) 3%, transparent);
            }

            &:not(:checked) + label {
                background: linear-gradient(to top, rgba(0,0,0,0.4) 3%, transparent);
            }
        }
    }
}

.content {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #85A3A799;
    padding: 20px;
}

body {
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    text-align: center;
    font-size: 4rem;
    color: var(--feh-gold);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: clamp(1rem, 10vw, 3rem);
    height: 90vh;
}

.searchbox {
    display: flex;
    align-items: center;
}

.search-field {
    flex: 2;
    border: none;
    font-size: 30px;
    border-bottom: 4px solid var(--feh-gold);
    color: var(--feh-gold);
    background-color: transparent;
    outline: none;
}

.mode-switch {
    display: none;
}

.switch-bg {
    transition: 300ms linear;
    position: relative;
    width: 60px;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 34px;
    padding-left: 4px;
    padding-right: 4px;
}

.switch-circle {
    background-color: #CCCCCC;
    height: 26px;
    border-radius: 50%;
    width: 26px;
}

#search-mode:checked ~ .switch-bg {
    background-color: var(--navy-blue);
}

.switch-bg:has(~ #delete-mode:checked) {
    background-color: var(--delete-red);
    justify-content: flex-end;
}

.mode-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.hide {
    display: none;
}

.hero-container {
    border: none;
    padding: 4px;
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    background-size: 160px 160px;

    .hero-frame {
        position: absolute;
        z-index: 1;
        inset: 0;
    }

    &:focus, &:hover {
        .hero-frame {
            filter: brightness(120%);
        }
    }
}

#barracks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-auto-rows: 160px;
    column-gap: 2vw;
    row-gap: clamp(1rem, 3vw, 2.5rem);
}

#search-results:not(.hide) {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    width: 600px;
    background-color: var(--navy-blue);
    border-radius: 10px;
    border: 3px solid var(--feh-light-blue);
    left: 13%;
    top: 20%;
    z-index: 2;
}

.search-entry {
    background-color: transparent;
    display: flex;
    border: none;
    outline: 1px solid var(--navy-blue);
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    cursor: pointer;
    align-items: center;

    img {
        height: 80px;
        width: 80px;
    }

    span {
        flex: 1;
        color: white;
    }

    &:hover, &:focus {
        outline-color: var(--feh-light-blue);
        background-color: var(--feh-light-blue);
    }
}

#inheritable-skills {
    max-height: 80vh;
    padding: 0;
    border: none;
    background-color: transparent;

    &::backdrop {
        background-color: black;
        opacity: 0.4;
    }
}

.skills-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    overflow: auto;
}

.skill-filters {
    display: flex;
    justify-content: space-evenly;
    gap: 1vw;
}

.skill-filter {
    display: none;

    &#weapon:checked + .filter-weapon {
        color: red;
    }

    &#assist:checked + .filter-assist {
        color: red;
    }
}

.collection {
    grid-area: 1 / 1 / 2 / 1;
}

